@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <div class="top-bar-title">
                <a href="/" class="title-link">База українських запитань "Що?Де?Коли?"</a>
            </div>
            <TopSearchBar />
            <div class="top-bar-slogan">
                <LoginDisplay />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="site-footer">
            <div class="footer-content">
                <span>Матеріали на сайті — лише для ознайомлення. Комерційне використання та перепублікація без письмової згоди автора заборонені.</span>
                <a href="/disclaimer">Докладніше</a>
            </div>
        </footer>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Сталася халепа.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

