@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <div class="top-bar-title">
                <a href="/" class="title-link">База українських запитань "Що?Де?Коли?"</a>
            </div>
            <div class="search-bar">
                <span class="search-icon"></span>
                <input type="text" class="search-input" placeholder="введіть слова для пошуку" />
            </div>
            <div class="top-bar-slogan">
                Слава Україні!
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Сталася халепа.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>