<button class="theme-toggle" onclick="toggleThemeWithIcon(this)" title="Перемкнути тему">
    <Icon Name="sun" Size="20" Class="icon-sun" />
    <Icon Name="moon" Size="20" Class="icon-moon" />
</button>

