<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <HeadOutlet/>
    <title>База українських запитань</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="QuestionsHub.Blazor.styles.css"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="apple-touch-icon" href="images/icon.png"/>
</head>

<body>
<Routes/>
<script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>
<script src="sortable-interop.js"></script>
<script src="_framework/blazor.web.js"></script>
<script src="navigation.js"></script>
<script src="date-formatter.js"></script>
</body>

</html>
