@inject IJSRuntime JS
@inject NavigationManager Navigation

<div class="question-card">
    <div class="question-header">
        <span class="question-number">Питання @Question.Number</span>
        <button class="btn btn-sm copy-link-btn" @onclick="CopyQuestionLink" title="Скопіювати посилання на питання">
            @if (_copied)
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="copy-icon copied" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                </svg>
            }
            else
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="copy-icon" viewBox="0 0 16 16">
                    <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
                </svg>
            }
        </button>
    </div>

    <QuestionContent Question="Question" ShowAnswer="_showAnswer">
        <div class="answer-toggle-section mt-3">
            <button class="btn btn-link answer-toggle p-0" @onclick="ToggleAnswer">
                @if (_showAnswer)
                {
                    <text>Сховати відповідь</text>
                }
                else
                {
                    <text>Показати відповідь</text>
                }
            </button>
        </div>
    </QuestionContent>
</div>

@code {
    [Parameter]
    public required Question Question { get; set; }

    private const int CopyFeedbackDelayMs = 2000;
    private bool _showAnswer;
    private bool _copied;
    private bool _copyInProgress;

    private void ToggleAnswer()
    {
        _showAnswer = !_showAnswer;
    }

    private async Task CopyQuestionLink()
    {
        if (_copyInProgress)
        {
            return;
        }

        _copyInProgress = true;
        var baseUri = Navigation.BaseUri.TrimEnd('/');
        var questionUrl = $"{baseUri}/question/{Question.Id}";

        var success = await JS.InvokeAsync<bool>("copyToClipboard", questionUrl);
        if (success)
        {
            _copied = true;
            StateHasChanged();

            await Task.Delay(CopyFeedbackDelayMs);
            _copied = false;
            StateHasChanged();
        }
        _copyInProgress = false;
    }
}

