# OVH Object Storage (S3) credentials (DO NOT COMMIT REAL VALUES)
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_DEFAULT_REGION="de"

# OVH endpoint + bucket
export OVH_S3_ENDPOINT="https://s3.de.io.cloud.ovh.net"
export OVH_S3_BUCKET="lucky-chandrasekhar"

# restic repository encryption password (client-side)
export RESTIC_PASSWORD=""

# Optional monitoring (Healthchecks)
export HC_URL=""
